#headerContainer {
  background-color: var(--color-brand-1);
}

#mainContainer {
  background-color: var(--color-grey-2);
}

h1 {
  font-weight: 600;
}

nav {
  max-width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 45px;
}

#recentSearches {
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.user {
  width: 45px;
  height: 45px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: orange;
  list-style: none;
}